<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leyou.dao.BrandMapper">
    <select id="findAll" resultType="com.leyou.pojo.Brand">
        select * from tb_brand
        <where>
            <if test="key!=null and key!=''">
                (name like '%${key}%'
                or letter=#{key})
            </if>
        </where>
        <if test="sortBy!=null and sortBy!=''">
            order by ${sortBy}
            <if test="desc">
                desc
            </if>

        </if>
    </select>
    <delete id="deleteById" parameterType="long" >
        DELETE  FROM tb_brand WHERE id=#{id}
    </delete>
    <update id="update" parameterType="com.leyou.pojo.Brand" >
        update tb_brand set name=#{name},image=#{image},letter=#{letter} WHERE id=#{id}
    </update>
</mapper>